{% if 'proxy' in group_names %}
Welcome to HAProxy server
{% endif %}
{% if 'webservers' in group_names %}
Welcome to Apache server
{% endif %}
{% if 'database' in group_names %}
Welcome to MySQL server
{% endif %}
